<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <% if (locals.err) { %>
        <p><%= err %></p>
    <% } %>
    <form action="/user/login" method="POST">
        <label for="">Email</label>
        <input type="email" name="email" id="" required>
        <label for="">Password</label>
        <input type="password" name="password" id="" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>